.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav li {
  margin-left: 20px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
}

.navbar-item {
  position: relative;
 
}

.navbar-item:hover .dropdown,
.navbar-item:hover .dropdown a {
  display: block; /* Show dropdown on hover */
}

.dropdown {
  display: none; /* Hide dropdown by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  // You may want to adjust the positioning to align with your design
  top: 100%; /* Align dropdown right below the navbar item */
  left: 0;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  // Add :hover styles for dropdown links
}

// Example hover style for dropdown links
.dropdown a:hover {
  background-color: #ddd;
}