<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Notes</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/notes.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/notes.js"></script>
  </head>

  <body>
    <header>
      <form id="logout">
        <button type="submit">Logout</button>
      </form>
    </header>

    <main>
      <section class="new-note">
        <h1>My Notes</h1>
        <br />
        <span id="error"></span>
        <span id="message"></span>
        <br />
        <form id="new-note">
          <label for="content">Content:</label>
          <input
            type="text"
            id="content"
            name="content"
            required
            autocomplete="off"
          />
          <button type="Reset">Reset</button>
          <button type="submit">Create</button>
        </form>
      </section>
      <br />
      <section
        class="notes-list"
        id="notes-list"
        data-id="<%= user_id %>"
      ></section>
    </main>
  </body>
</html>
